.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mat-mdc-card{
    width: 75%;
    margin-top: 5em;
}
.mat-mdc-card-title{
    font-size: 2em;
}
.mat-mdc-card-header{
    justify-content: center;
    align-items: center;
}
.mat-mdc-card-content{
    line-height: 1.6;
    font-size: 18px;
}