<div class="about">
   <mat-card>
      <mat-card-header>
         <mat-card-title>About Me</mat-card-title>
      </mat-card-header>
      <mat-card-content>
         <p>Hello! My name is Ryan Tullis and I'm a senior studying software engineering at Iowa State Univerity. 
            Thank you for visiting my website! It's a little bare-bones right now but I have big things planned. 
            My goal is to have this website serve as a hub for all the various projects I work on and also maybe serve as a blog for all the 
            new things I learn along the way (after all sometimes we learn best through just putzing around and not actually making a finished product).
            But for now, I hope you enjoy the few things I have up here and I hope you'll come back to see what I've added! 
         </p>
      </mat-card-content>
   </mat-card>
</div>