// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.



// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
//$ryantulliscom-primary: mat.define-palette(mat.$indigo-palette);

/* For use in src/lib/core/theming/_palette.scss */
$md-mcgpalette0: (
    50 : #eef5fb,
    100 : #d4e5f5,
    200 : #b7d4ee,
    300 : #9ac2e7,
    400 : #85b5e1,
    500 : #6fa8dc,
    600 : #67a0d8,
    700 : #5c97d3,
    800 : #528dce,
    900 : #407dc5,
    A100 : #ffffff,
    A200 : #e3efff,
    A400 : #b0d3ff,
    A700 : #96c4ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$ryantulliscom-primary: mat.define-palette($md-mcgpalette0);

$ryantulliscom-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ryantulliscom-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ryantulliscom-theme: mat.define-dark-theme((
  color: (
    primary: $ryantulliscom-primary,
    accent: $ryantulliscom-accent,
    warn: $ryantulliscom-warn,
  )
));

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ryantulliscom-theme);

/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { 
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  line-height: 1.6;
}

app-root {
  display: block;
  height: 100%;
}

.mat-mdc-tab-header{
  margin-top: 1em;
  width: 100%;
  min-width: 550px;
  font-size: 1.5em;
}
.mat-mdc-tab.mdc-tab{
  width: 33%;
}

.mat-mdc-tab-body-wrapper{
    flex-grow: 1;
}
