#resume-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 2em;
}
#resume-link{
    font-size: 4em;
    margin-top: .25em;
}
#resume-link:hover{
    transform: scale(1.3);
}