.home{
    display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
}
#welcome_msg{
    font-size: 3.5em;
    font-weight: 500;
    margin-bottom: 1em;
}
#logos-group{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0.5em;
    margin-bottom: 1em;
}
.logos{
    margin-left:0.5em;
}
.logos:hover{
    cursor: pointer;
    transform: scale(1.3);
}